<div class="container">
    <div class="row mt-5">
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" [src]=imageOneUrl alt="leite creme">
                <div class="card-body">
                    <h5 class="card-title">Leite Creme</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-light btn-outline-dark">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" [src]=imageTwoUrl alt="bolo de chocolate">
                <div class="card-body">
                    <h5 class="card-title">Bolo de Chocolate</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-light btn-outline-dark">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" [src]=imageThreeUrl alt="baba de camelo">
                <div class="card-body">
                    <h5 class="card-title">Baba de Camelo</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-light btn-outline-dark">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>