<div class="container mt-5">
<h1>
    Adicionar Receita
</h1>
<hr/>

<form [formGroup]="recipeForm" (ngSubmit)="save()">
    <div class="form-group">
    <div class="col-6 p-0">
      <label for="titleInput">Título</label>
      <input type="text" class="form-control" id="titleInput" formControlName="title">
    </div>
    </div>
    <div class="form-row mb-3">
        <div class="col">
          <label for="titleInput">Duração</label>
          <input type="text" class="form-control" placeholder="Quantos minutos de preparação?" formControlName="duration">
        </div>
        <div class="col">
            <label for="titleInput">Dificuldade</label>
            <select class="form-control" data-val="true" formControlName="dificulty">  
              <option value="Fácil">Fácil</option>  
              <option value="Médio">Médio</option>  
              <option value="Dificil">Dificil</option>  
          </select> 
        </div>
      </div>
   <!--  <div class="form-group">
      <label for="ingredientsInput">Ingredientes</label>
      <input type="text" class="form-control" id="ingredientsInput" placeholder="Insira os ingredientes e quantidadades separados por /.">
      <span>Ex. Leite-200mL/Açúcar-200g/...</span>
    </div>
    <div class="form-group">
        <label for="stepsInput">Preparação</label>
        <input type="text" class="form-control" id="stepsInput" placeholder="Insira os passos separados por /.">
        <span>Ex. Misturar o leite e a farinha./Adicionar o açúcar e mexer bem./....</span>
      </div>
       -->
       <div class="form-group">
         <div class="row">
           <div class="col-2">
       <button type="submit" class="btn btn-light btn-outline-dark mt-3">Guardar</button>
      </div>
      <div class="col-2">
       <button class="btn btn-light btn-outline-dark mt-3" (click)="cancel()">Cancelar</button>
      </div>
      </div>
      </div>
</form>
</div>